@import './ColorPallete.css';
@import './Typography.css';

/*Botones asociados a la Navbar*/

/*Configuracion default de botones en Vista Desktop*/
.Default_Desktop_Button_Style h5 {
    /*Configuracion del Bloque*/
    display: "block";
    background-color: "tranparent";
    margin: 5px;

    /*Configuracion del Texto utilizando como base el estilo de h5*/
    color: var(--color-white);
    font-size: 22;
    line-height: 32;
}

/*Configuracion default de botones en Vista Movile*/
.Default_Movile_Button_Style h5 {
    /*Configuracion del Bloque*/
    background-color: "tranparent";
    margin: 5px;

    /*Configuracion del Texto utilizando como base el estilo de h5*/
    color: var(--color-white);
    font-size: 22;
    line-height: 32;
}

/*Configuracion de botones cuando hay interaccioness*/
.Interactive_Button_Style {
    transition: all 0.5s ease;   
}

/*Interaccion hover sobre el boton*/
.Interactive_Button_Style:hover {
    transform: scale (1.2,1.2);
    opacity: 100%;
    color: var(--color-white);
}

/*Interaccion not hover sobre el boton*/
.Interactive_Button_Style:not(:hover) {
    transform: scale (0.8,0.8);
    opacity: 80%;
    color: var(--color-silver);
}