/*Paleta de Colores que considera :root*/
:root {
    --color-eeri-black: #17191E;
    --color-gunmetal: #272E3D;
    --color-celestial-blue: #109BE1;
    --color-silver: #B0B4B5;
    --color-anti-flash-white: #F1F1F1;
    --color-white: #FFFFFF;
}

.bg-celestial-blue{
    background-color: var(--color-celestial-blue);
}
.bg-gunmetal{
    background-color: var(--color-gunmetal);
}
.bg-eeri-black{
    background-color: var(--color-eeri-black);
}