@import './ColorPallete.css';
@import './Typography.css';

.CyberAcademy {
    color: var(--color-celestial-blue);
}

* .Enfoque {
    background-color: var(--color-celestial-blue);
}
#Jumbotron {
    background: linear-gradient(90deg, rgba(23,25,30,1) 0%, rgba(23,25,30,0.99) 70%, rgba(23,25,30,0.85) 100%), url('../img/Knight_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
@media (max-width: 768px) {
    #Jumbotron {
        background: var(--color-eeri-black);
    }
}

.custom-jumbotron {
    height: 400px; /* Puedes ajustar la altura según lo necesites */
    display: flex;
    background: linear-gradient(to right, #007bff 45%, rgba(0, 123, 255, 0.5) 50%, transparent 55%), url('../img/knight1.jpg');
    background-size: cover; /* Asegura que la imagen cubra su espacio */
    background-position: right; /* Posiciona la imagen en la mitad derecha */
}

.text-content {
    color: white;
    padding: 50px;
    width: 50%;
    background-color: linear-gradient(to right, #007bff 45%, rgba(0, 123, 255, 0.5) 50%, transparent 55%); /* Color sólido en la mitad izquierda */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron h1, .jumbotron p {
    margin: 0;
}