@import './ColorPallete.css';
@import './Typography.css';

.CyberAcademy {
    color: var(--color-celestial-blue);
}

* .Enfoque {
    background-color: var(--color-celestial-blue);
}

#Jumbotron {
    background-color: var(--color-eeri-black);
}
.bg-celestial-blue{
    background-color: var(--color-celestial-blue);
}
.bg-gunmetal{
    background-color: var(--color-gunmetal);
}