@import './ColorPallete.css';
@import './Typography.css';

nav * .LogoSection {
    width: 11.30%;
    height: 7.06%;
}

/*Contenedor del Icono de la Empresa en el Navbar*/
nav * .LogoEmpresa {
    display: block;
    justify-content: center;
    align-items: center;
    width: 35.48%;
}

/*Icono de la Empresa en el Navbar*/
nav * .LogoEmpresa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Contenedor del Nombre de la Empresa en el Navbar*/
nav * .TituloEmpresa {
    display: block;
    justify-content: left;
    align-items: center;
    overflow: visible;
    width: 64.52%;
    height: 100%;
}

/*Nombre de la Empresa en el Navbar*/
nav * .TituloEmpresa h4 {
    display: inline-block;
    text-wrap: nowrap;
    object-fit: cover;
    text-align: center;
    vertical-align: middle;
    font-family: "Carrois Gothic SC";

}


/*Configuracion default de botones en Vista Desktop*/
nav * .Default_Desktop_Button_Style {
    /*Configuracion del Bloque*/
    display: block;
    background-color: transparent;
    margin: 5px;

    /*Configuracion del Texto utilizando como base el estilo de h5*/
    color: var(--color-white);
    font-size: 22;
    line-height: 32;
}

/*Configuracion default de botones en Vista Movile*/
nav * .Default_Movile_Button_Style h5 {
    /*Configuracion del Bloque*/
    background-color: transparent;
    margin: 5px;

    /*Configuracion del Texto utilizando como base el estilo de h5*/
    color: var(--color-white);
    font-size: 22;
    line-height: 32;
}

/*Configuracion de botones cuando hay interaccioness*/
nav * .Interactive_Button_Style {
    transition: all 0.5s ease;   
}

/*Interaccion hover sobre el boton*/
nav * .Interactive_Button_Style:hover {
    transform: scale (1.2,1.2);
    opacity: 100%;
    color: var(--color-white);
}

/*Interaccion not hover sobre el boton*/
nav * .Interactive_Button_Style:not(:hover) {
    transform: scale (0.8,0.8);
    opacity: 80%;
    color: var(--color-silver);
}

#mainNav {
    background-color: var(--color-gunmetal);
    color: var(--color-silver);
}

.nav-item .nav-link{
    color: var(--color-silver);
}

.nav-item.active .nav-link{
    color: var(--color-white);
}
.navbar-brand {
    color: var(--color-white);
}