/*Importacion de la Fuente 'Nanum Gothic'*/
@font-face{
    font-family: "Nanum Gothic";
    src: 
        url("./../fonts/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype"),
        url("./../fonts/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype"),
        url("./../fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Importacion de la Fuente 'Carrois Gothic SC'*/
@font-face{
    font-family: "Carrois Gothic SC";
    src: 
        url("./../fonts/Carrois_Gothic_SC/CarroisGothicSC-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Configuracion de la tipografia de los Encabezados*/

h1 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: 600px; /*Semi-Bold*/
    font-size: 64px;
    letter-spacing: 0px;
    line-height: 76px;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: 600px; /*Semi-Bold*/
    font-size: 50px;
    letter-spacing: 0px;
    line-height: 62px;
    padding: 0;
    margin: 0;
}

h3 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: 600px; /*Semi-Bold*/
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 44px;
    padding: 0;
    margin: 0;
}

h4 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: 600px; /*Semi-Bold*/
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

h5 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: 600px; /*Semi-Bold*/
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}


/*Configuracion de la tipografia de los Cuerpos*/

.body1 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: normal; /*Regular*/
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}

.body2 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: normal; /*Regular*/
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}

.body3 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: normal; /*Regular*/
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.body4 {
    text-align: left;
    vertical-align: top;
    font-family: "Nanum Gothic";
    font-weight: normal; /*Regular*/
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}
